@import 'https://unpkg.com/open-props' layer(design.system);
@import 'https://unpkg.com/open-props/normalize.dark.min.css'
layer(demo.support);


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Inter', sans-serif;

    --nav-block-size: var(--size-10);

    --op-brand-0: oklch(61% 0.21 258);
    --op-brand-1: oklch(72% 0.28 332);

    --op-card-gradient: radial-gradient(farthest-corner circle var(--gradient-center) in oklch,
            var(--op-brand-1) 0%,
            oklch(72% 0.28 332 / 0%) calc(0% + 200px)) no-repeat border-box border-box var(--op-brand-0);

    --custom-radius: 8px;
    --surface-1: var(--gray-9);
    --text-1: white;
}

a {
    all: unset;
    text-decoration: none;
    margin: 0;
    color: var(--text-1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    block-size: var(--nav-block-size);
    padding-inline: var(--size-fluid-3);

    & img {
        block-size: var(--size-8);
    }
}

nav .logo {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
}

.btn-custom {
    background-color: inherit;
    color: var(--text-1);
    border: var(--border-size-1) solid currentColor;
    padding: var(--size-2) var(--size-4);
    border-radius: var(--radius-5);
    transition: background-color 0.2s ease;

    &:hover {
        background-color: oklch(100% 0 0 / 4.8%);
    }
}



main {
    min-block-size: calc(100dvh - var(--nav-block-size));
    padding-block: var(--size-fluid-5);
    max-inline-size: 1312px;
    margin-inline: auto;
    padding-inline: var(--size-fluid-3);
}

section {
    --gap: var(--size-7);

    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap) * 2);

    & h1 {
        font-size: var(--font-size-fluid-3);
        min-inline-size: calc(var(--size-relative-8) * 4);
    }

    & header {
        display: flex;
        align-items: flex-end;
        padding: calc(var(--gap) * 0.75);
        border-radius: var(--custom-radius);
        justify-content: space-between;
        flex-wrap: wrap;
        gap: calc(var(--gap) * 0.5);
        background: var(--gradient-16);

        >div {
            display: grid;
            gap: calc(var(--gap) / 3);
        }

        & h2 {
            font-size: var(--font-size-4);
        }

        & p {
            color: var(--text-1);
        }
    }
}

.section-header {
    inline-size: min-content;
}

.hero-content {
    display: grid;
    gap: var(--gap);

    flex: 1;
}

.cards {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(28ch, 1fr));
    gap: var(--gap);

    & h3 {
        font-size: var(--font-size-3);
    }

    .card {
        border: var(--border-size-1) solid currentColor;
        padding: calc(var(--gap) * 0.75);
        border-radius: var(--custom-radius);
        display: grid;
        gap: calc(var(--gap) / 2);
        align-content: start;



        transition: background 0.3s ease-in-out;

        --gradient-center: at 115.047px 111.562px;

        &:hover {
            background: radial-gradient(farthest-corner circle var(--gradient-center) in oklch,
                    var(--op-brand-1) 0%,
                    oklch(72% 0.28 332 / 0%) calc(0% + 200px)) no-repeat border-box border-box var(--op-brand-0);
        }
    }

    .head {
        display: flex;
        justify-content: space-between;
    }
}

@import 'https://unpkg.com/open-props' layer(design.system);
@import 'https://unpkg.com/open-props/normalize.dark.min.css'
layer(demo.support);


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200..700&display=swap');

:root {
    font-family: 'Inter', sans-serif;

    --nav-block-size: var(--size-10);

    --op-brand-0: oklch(61% 0.21 258);
    --op-brand-1: oklch(72% 0.28 332);

    --op-card-gradient: radial-gradient(farthest-corner circle var(--gradient-center) in oklch,
            var(--op-brand-1) 0%,
            oklch(72% 0.28 332 / 0%) calc(0% + 200px)) no-repeat border-box border-box var(--op-brand-0);

    --custom-radius: 8px;
    --surface-1: var(--gray-9);
    --text-1: white;
}

a {
    all: unset;
    text-decoration: none;
    margin: 0;
    color: var(--text-1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    block-size: var(--nav-block-size);
    padding-inline: var(--size-fluid-3);

    & img {
        block-size: var(--size-8);
    }
}

.btn-custom {
    background-color: inherit;
    color: var(--text-1);
    border: var(--border-size-1) solid currentColor;
    padding: var(--size-2) var(--size-4);
    border-radius: var(--radius-5);
    transition: background-color 0.2s ease;

    &:hover {
        background-color: oklch(100% 0 0 / 4.8%);
    }
}

main {
    min-block-size: calc(100dvh - var(--nav-block-size));
    padding-block: var(--size-fluid-5);
    max-inline-size: 1312px;
    margin-inline: auto;
    padding-inline: var(--size-fluid-3);
}

section {
    --gap: var(--size-7);

    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap) * 2);

    & h1 {
        font-size: var(--font-size-fluid-3);
        min-inline-size: calc(var(--size-relative-8) * 4);
    }

    & header {
        display: flex;
        align-items: flex-end;
        padding: calc(var(--gap) * 0.75);
        border-radius: var(--custom-radius);
        justify-content: space-between;
        flex-wrap: wrap;
        gap: calc(var(--gap) * 0.5);
        background: var(--gradient-16);

        >div {
            display: grid;
            gap: calc(var(--gap) / 3);
        }

        & h2 {
            font-size: var(--font-size-4);
        }

        & p {
            color: var(--text-1);
        }
    }
}

.section-header {
    inline-size: min-content;
}

.hero-content {
    display: grid;
    gap: var(--gap);

    flex: 1;
}

.cards {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(28ch, 1fr));
    gap: var(--gap);

    & h3 {
        font-size: var(--font-size-3);
    }

    .card {
        border: var(--border-size-1) solid currentColor;
        padding: calc(var(--gap) * 0.75);
        border-radius: var(--custom-radius);
        display: grid;
        gap: calc(var(--gap) / 2);
        align-content: start;



        transition: background 0.3s ease-in-out;

        --gradient-center: at 115.047px 111.562px;

        &:hover {
            background: radial-gradient(farthest-corner circle var(--gradient-center) in oklch,
                    var(--op-brand-1) 0%,
                    oklch(72% 0.28 332 / 0%) calc(0% + 200px)) no-repeat border-box border-box var(--op-brand-0);
        }
    }

    .head {
        display: flex;
        justify-content: space-between;
    }
}

/* ********************************************************** */

.scroller {
    max-width: 80vw;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller__inner img{
    border-radius: 10px;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

/* general styles */

:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
}



.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list li {
    padding: 1rem;
    background: #090d16;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

.team{
    margin-top:5rem;
    /* margin-bottom: 2rem; */
}

section{
    margin-bottom: 0;
}

.main{
    margin-bottom: 0;
}

.navbtn .btn-custom{
    margin-left: 1vw;
}

@media(max-width:600px){
    nav{
        justify-content: space-between;
        padding: 0vw 2vw;
    }
    nav .logo{
        width: 4vw;
    }
    /* .navbtn {
        margin-left: 7vw;
    } */
    .team{
        margin-top: 5rem;
    }
}
